body {
  font-size: 16px;
}

:root {
  /** Spacing */
  --s-01: 0.125rem;
  --s-02: 0.25rem;
  --s-03: 0.5rem;
  --s-04: 0.75rem;
  --s-05: 1rem;
  --s-06: 1.5rem;
  --s-07: 2rem;
  --s-08: 2.5rem;
  --s-09: 3rem;
  --s-10: 4rem;
  --spacing-01: var(--s-01);
  --spacing-02: var(--s-02);
  --spacing-03: var(--s-03);
  --spacing-04: var(--s-04);
  --spacing-05: var(--s-05);
  --spacing-06: var(--s-06);
  --spacing-07: var(--s-07);
  --spacing-08: var(--s-08);
  --spacing-09: var(--s-09);
  --spacing-10: var(--s-10);

  /** Border radius **/
  --roundness: 3px;

  /** Colors **/
  --c-focus: #6a38ff;
  --c-ui-01: #f8f8f8;
  --c-ui-02: #e4e4e4;
  --c-ui-03: #707574;
  --c-ui-04: #3a403f;
  --c-ui-bg: #ffffff;
  --c-text-01: #000;
  --c-text-02: #707574;
  --c-text-03: #fff;
  --c-text-04: #fff;
  --c-text-05: #000;
  --c-primary: #1ba886;
  --c-danger: #a81b3d;
}

body.dm {
  /** Colors **/
  --c-focus: #8056ff;
  --c-ui-01: #181b1a;
  --c-ui-02: #3a403f;
  --c-ui-03: #535757;
  --c-ui-04: #3a403f;
  --c-ui-bg: #000000;
  --c-text-01: #fff;
  --c-text-02: #cacad3;
  --c-text-03: #000;
  --c-text-04: #fff;
  --c-text-05: #000;
  --c-primary: #1ba886;
  --c-danger: #a81b3d;
}
